h1{
    text-align: center;
    color: red;
}

.game-1{
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #ff0a33;
    background: #eee;
}
